<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav aria-label="Navigation principale">
                <h2>Navigation</h2>

                <section>
                    <h3>Section Accès</h3>
                    <ul>
                        {% if app.user %}
                            <li><a href="{{ path('app_home') }}">Accueil</a></li>
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Connexion</a></li>
                            <li><a href="{{ path('app_register') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </section>

                {% if is_granted('ROLE_USER') %}
                    <section>
                        <h3>Section User</h3>
                        <details open>
                            <summary>Sous-section Character</summary>
                            <ul>
                                <li><a href="{{ path('app_character_index') }}">/character</a></li>
                                <li><a href="{{ path('app_character_new') }}">/character/new</a></li>
                            </ul>
                        </details>

                        <details>
                            <summary>Sous-section Party</summary>
                            <ul>
                                <li><a href="{{ path('app_party_index') }}">/party</a></li>
                                <li><a href="{{ path('app_party_new') }}">/party/new</a></li>
                            </ul>
                        </details>
                    </section>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <section>
                        <h3>Section Admin</h3>

                        <details>
                            <summary>Sous-section Character Class</summary>
                            <ul>
                                <li><a href="{{ path('app_character_class_index') }}">/character/class</a></li>
                                <li><a href="{{ path('app_character_class_new') }}">/character/class/new</a></li>
                            </ul>
                        </details>

                        <details>
                            <summary>Sous-section Race</summary>
                            <ul>
                                <li><a href="{{ path('app_race_index') }}">/race</a></li>
                                <li><a href="{{ path('app_race_new') }}">/race/new</a></li>
                            </ul>
                        </details>

                        <details>
                            <summary>Sous-section Skill</summary>
                            <ul>
                                <li><a href="{{ path('app_skill_index') }}">/skill</a></li>
                                <li><a href="{{ path('app_skill_new') }}">/skill/new</a></li>
                            </ul>
                        </details>
                    </section>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
