{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ character.level }}</td>
            </tr>
            <tr>
                <th>Strength</th>
                <td>{{ character.strength }}</td>
            </tr>
            <tr>
                <th>Dexterity</th>
                <td>{{ character.dexterity }}</td>
            </tr>
            <tr>
                <th>Constitution</th>
                <td>{{ character.constitution }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ character.intelligence }}</td>
            </tr>
            <tr>
                <th>Wisdom</th>
                <td>{{ character.wisdom }}</td>
            </tr>
            <tr>
                <th>Charisma</th>
                <td>{{ character.charisma }}</td>
            </tr>
            <tr>
                <th>HealthPoints</th>
                <td>{{ character.healthPoints }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ character.characterClass ? character.characterClass.name : 'Aucune classe' }}</td>
            </tr>
            <tr>
                <th>Compétences de classe</th>
                <td>
                    {% if character.characterClass and character.characterClass.skills|length > 0 %}
                        <ul style="margin: 0; padding-left: 18px;">
                            {% for skill in character.characterClass.skills %}
                                <li>{{ skill.name }} ({{ skill.ability }})</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>Aucune compétence associée</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if character.image %}
                        <img src="{{ asset('uploads/avatars/' ~ character.image) }}" alt="Avatar de {{ character.name }}" width="160" height="160" style="object-fit: cover;" />
                    {% else %}
                        <span>Aucun avatar</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


    {# Buttons #}
    {% if app.user and character.user and character.user is same as(app.user) %}
        <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>
        {{ include('character/_delete_form.html.twig') }}
    {% endif %}
    

    <a href="{{ path('app_character_index') }}">back to list</a>

{% endblock %}
