{% extends 'base.html.twig' %}

{% block title %}Party index{% endblock %}

{% block body %}
    <h1>Party index</h1>

    <p>
        Filtrer :
        {% if status == 'all' %}
            <strong>All</strong>
        {% else %}
            <a href="{{ path('app_party_index', {'status': 'all'}) }}">All</a>
        {% endif %}
        |
        {% if status == 'available' %}
            <strong>With places available</strong>
        {% else %}
            <a href="{{ path('app_party_index', {'status': 'available'}) }}">With places available</a>
        {% endif %}
        |
        {% if status == 'full' %}
            <strong>Complete</strong>
        {% else %}
            <a href="{{ path('app_party_index', {'status': 'full'}) }}">Complete</a>
        {% endif %}
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Creator</th>
                <th>MaxSize</th>
                <th>Occupation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for party in parties %}
            <tr>
                <td>{{ party.name }}</td>
                <td>{{ party.description }}</td>
                <td>{{ party.creator ? party.creator.username : 'Inconnu' }}</td>
                <td>{{ party.maxSize is null ? 'Non definie' : party.maxSize }}</td>
                <td>
                    {{ party.characters|length }}
                    {% if party.maxSize is not null %}
                        / {{ party.maxSize }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_party_show', {'id': party.id}) }}">show</a>

                    {# Vérifie qui est l'utilisateur #}
                    {% if party.creator == app.user %}
                        <a href="{{ path('app_party_edit', {'id': party.id}) }}">edit</a>
                        {{ include('party/_delete_form.html.twig') }}
                    {% endif %}
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_party_new') }}">Create new</a>
{% endblock %}
